<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/smarthome.css">
    <title>Smart Home! - About</title>
</head>
<style>

</style>

<body>
    <div class=menu>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a class="active" href="about.html">About</a></li>
            <li><a href="add_device.html">Add New Device</a></li>
            <li><a href="device_status.html">Device Status</a></li>
            <li><a href="update_device.html">Update Device</a></li>
            <li><a href="delete_device.html">Delete Device</a></li>
        </ul>
    </div>
    <div class="about">

        <B>About Smart Home.</B>
        <P>
            Smart Home Hub web application is meant to be a one stop to manage all your Smart devices in one place.
        </P>

        <P>
            Developer: Suk Ching Steven, Chiu
        </P>
    </div>

</body>