<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/smarthome.css">
    <title>Smart Home!</title>
</head>
<style>

</style>
<body >
    <div class=menu>
    <ul class="menu">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="add_device.html">Add New Device</a></li>
        <li><a href="device_status.html">Device Status</a></li>
        <li><a href="update_device.html">Update Device</a></li>
        <li><a href="delete_device.html">Delete Device</a></li>

    </ul>

    </div>

    
    <div class="mainbody">
        <P>
        <center>
        <div class="mainbodyText">
            Welcome to Smart Home. Your Hub to your Smart Devices.
            <P>
                Select the options above to:
            <UL>
                <LI>Add new device</LI>
                <LI>Check device status</LI>
                <LI>Delete device</LI>
                <LI>Update device</LI>
            </UL>
            </P>
        </div>

        </center>
    </div>
    
</body>